.chat_header {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightcyan;
}

.chat_header_input {
  margin-left: 50px;
  width: 500px;
  height: 25px;
}

.chat_body {
  padding-left: 20px;
  overflow: scroll;
  flex: 1;
  background-color: lightblue;
}

.chat_body_h3 {
  padding: 20px;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-top: -10px;
  margin-left: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.c-button {
  margin-top: 30px;
  margin-left: 25px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.c-button:hover {
  background: #1d49aa;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
